@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    font-family: 'Fira Code', monospace;
}

#editor {
    height: 100%;
}

.cm-editor {
    height: 100%;
    font-size: 1.1rem;
}

.cm-vim-panel input {
    color: #D8DEE9; /* nord4 */
    border: none;
    outline: none;
    font-size: 1.1rem;
}

/* Visual mode selection highlight */
.cm-selectionBackground {
    background-color: #8FBCBB !important; /* pastel cyan */
}

#vim-mode-indicator {
    position: absolute;
    bottom: 20px;
    right: 20px;
    padding: 5px 15px;
    border-radius: 5px;
    font-size: 1.1rem;
    color: #ECEFF4; /* nord6 */
    transition: background-color 0.3s, color 0.3s;
    z-index: 100;
}

#vim-mode-indicator.normal {
    background-color: #81A1C1; /* nord9 */
}

#vim-mode-indicator.insert {
    background-color: #A3BE8C; /* nord14 */
}

#vim-mode-indicator.visual {
    background-color: #B48EAD; /* nord15 */
}
